<div class="container">
  <div class="container-fluid py-2">
    <!-------------------------------------------------------------------------------------------------- Attendance Overview -->
    <div class="row offset-md-2">
      <div class="title-container"><h2>Dashboard</h2></div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 pt-3">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-dark shadow-dark border-radius-xl mt-n4 position-absolute"
            >
              <i class="bi bi-person-fill fs-4"></i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize fw-medium">
                Team Strength
              </p>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-body p-3">
            <p class="mb-0">
              <span class="text-success text-sm fw-normal">8 Developers</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 pt-3">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-dark shadow-dark border-radius-xl mt-n4 position-absolute"
            >
              <i class="bi bi-person-fill-check fs-4"></i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize fw-medium">
                Code Heroes Present
              </p>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-body p-3">
            <p class="mb-0">
              <span class="text-success text-sm fw-normal">Yukari Takeba</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 pt-3">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-dark shadow-dark border-radius-xl mt-n4 position-absolute"
            >
              <i class="bi bi-person-fill-exclamation fs-4"></i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize fw-medium">
                Code Heroes Late
              </p>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-body p-3">
            <p class="mb-0">
              <span class="text-warning text-sm fw-normal">Yukari Takeba</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 pt-3">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-dark shadow-dark border-radius-xl mt-n4 position-absolute"
            >
              <i class="bi bi-person-fill-x fs-4"></i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize fw-medium">
                Code Heroes Away
              </p>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-body p-3">
            <p class="mb-0">
              <span class="text-danger text-sm fw-normal">Yukari Takeba</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-------------------------------------------------------------------------------------------------- End of Attendance Overview -->
    <!-------------------------------------------------------------------------------------------------- Attendance -->
    <div class="row offset-md-2 mt-4">
      <div class="col-xl-8 col-sm-12 mb-xl-0 mb-4">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div
              class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
            >
              <h6 class="text-white text-capitalize ps-3">Attendance</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="container-clock pb-2">
              <div class="clock">
                <div class="clock__circle">
                  <div class="clock__rounder"></div>
                  <div
                    class="clock__hour"
                    [style.transform]="clockHour$ | async"
                    id="clock-hour"
                  ></div>
                  <div
                    class="clock__minutes"
                    [style.transform]="clockMinute$ | async"
                    id="clock-minutes"
                  ></div>
                </div>

                <div>
                  <div class="clock__date">
                    <span class="clock__day-week" id="date-day-week">{{
                      (clockText$ | async)?.dayWeek
                    }}</span>

                    <div>
                      <span class="clock__month" id="date-month">{{
                        (clockText$ | async)?.month
                      }}</span>
                      <span class="clock__day" id="date-day">{{
                        (clockText$ | async)?.day
                      }}</span>
                      <span class="clock__year" id="date-year">
                        {{ (clockText$ | async)?.year }}</span
                      >
                    </div>
                  </div>

                  <div class="clock__text">
                    <span class="clock__text-hour" id="text-hour">{{
                      (clockText$ | async)?.textHour
                    }}</span>
                    <span class="clock__text-minutes" id="text-minutes">{{
                      (clockText$ | async)?.textMinutes
                    }}</span>
                    <span class="clock__text-ampm" id="text-ampm">{{
                      (clockText$ | async)?.ampm
                    }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="progress-bar-container pt-2 pb-2">
              <div
                class="progress-bar"
                [style.width.%]="progress"
                [class.paused]="!isPlaying"
              ></div>
            </div>
            <button (click)="pauseProgress()" [disabled]="!isPlaying">
              Pause
            </button>
            <button (click)="startProgress()" [disabled]="isPlaying">
              Play
            </button>
          </div>
        </div>
      </div>
      <!-------------------------------------------------------------------------------------------------- End of Attendance -->
      <!-------------------------------------------------------------------------------------------------- Calendar -->
      <div class="col-xl-4 col-sm-8 mb-xl-0 mb-4">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div
              class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
            >
              <h6 class="text-white text-capitalize ps-3">Calendar</h6>
            </div>
          </div>
          <div
            class="card-body px-0 pb-3 d-flex justify-content-center align-items-center"
          >
            <ng-template
              #customDayTemplate
              let-date="date"
              let-current="current"
            >
              <span [class.bg-primary]="current" [class.text-white]="current">
                {{ date.day }}
              </span>
            </ng-template>
            <ngb-datepicker
              [(ngModel)]="model"
              [dayTemplate]="dayTemplate"
            ></ngb-datepicker>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
