<div class="container-fluid">
  <div class="title"><h5>General Setting</h5></div>
  <div class="main-content">
    <header class="content-headeer">
      <div class="user-profile-img">
        <img
          src="assets/img/profiles/avator1.jpg"
          alt="user-logo"
          class="user-img d-inline-block align-text-top"
        />
      </div>
      <h2 class="user-name">Welcome Admin, Hans Geronimo</h2>
      <div class="sub-text">
        <span>Manage the Admin Account and Security to your prefernce.</span>
      </div>
    </header>
    <div class="content-body">
      <div class="card card-ad-info">
        <h5 class="card-header">Admin Information</h5>
        <div class="card-body">
          <h5 class="card-title">Welcome to the Admin Control Panel</h5>
          <p class="card-text">
            Take control of your admin experience with tailored personalization
            options. Customize settings, preferences, and visuals to create an
            environment perfectly suited for your needs.
          </p>
          <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">Name</th>
                <td>Hans Geronimo</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Gender</th>
                <td>Male</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>hansgeronimo@gmail.com</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Phone</th>
                <td>63+ 907 847 6063</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Address</th>
                <td>Not set</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Password</th>
                <td>**********</td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <a routerLink="/dashboard/admin-control" class="btn btn-warning"
            >Admin Control</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
