<section class="background-radial-gradient overflow-hidden">
  <div class="container">
    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
      <div
        id="radius-shape-1"
        class="position-absolute rounded-circle shadow-5-strong"
      ></div>
      <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
      <div
        id="radius-shape-3"
        class="position-absolute rounded-circle shadow-5-strong"
      ></div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6">
        <!-- form -->
        <div class="card bg-glass text-center">
          <div
            class="card-body px-4 py-5 px-md-5 d-flex flex-column align-items-center"
          >
            <form
              class="w-100"
              [formGroup]="forgotPass"
              (ngSubmit)="onSubmit()"
            >
              <!-- main logo -->
              <div class="forgotPass-logo-container">
                <img
                  src="assets/img/forgotPassKey.png"
                  alt="forgotPass-logo"
                  class="forgotPass-logo"
                />
              </div>

              <h2 class="forgot-password-title fw-medium">Forgot Password?</h2>
              <div class="forgotPass-greet-container mb-4">
                <span class="forgotPass-greet"
                  >No worries, Let's set you up.</span
                >
              </div>

              <!-- Email input -->
              <div class="email-div form-floating form-outline mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="email-input"
                  placeholder="Developer@eei.com.ph"
                  formControlName="email"
                />
                <label class="email-label" for="email-input"
                  >Email address</label
                >
                <div class="error-messages-container">
                  <div
                    *ngIf="
                      forgotPass.get('email')?.hasError('required') &&
                      (forgotPass.get('email')?.touched ||
                        forgotPass.get('email')?.dirty)
                    "
                    class="text-danger"
                  >
                    Email is required.
                  </div>
                  <div
                    *ngIf="
                      forgotPass.get('email')?.hasError('email') &&
                      (forgotPass.get('email')?.touched ||
                        forgotPass.get('email')?.dirty)
                    "
                    class="text-danger"
                  >
                    Please enter a valid email address.
                  </div>
                </div>
              </div>

              <!-- Submit button -->
              <div class="button-container mb-4">
                <button
                  type="submit"
                  class="btn btn-primary fgt-pass-btn fw-medium"
                  [disabled]="!forgotPass.valid"
                >
                  Reset Password
                </button>
              </div>

              <!-- back to login -->
              <div class="back-login-link fw-normal">
                <span>
                  <a routerLink="" class="back-to-login">
                    <i class="bi bi-arrow-left"></i>Back to login.
                  </a>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
