.logo-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 4rem;
  filter: drop-shadow(0 0 0.75rem #311057);
}

.logo-container {
  padding-top: 50px;
  padding-bottom: 20px;
}

.user-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 10rem;
  padding-top: 30px;
  filter: drop-shadow(0 0 0.75rem #311057);
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.user-container h5 {
  --white: #fff;
  padding-top: 170px;
  color: var(--white);
  text-shadow: -3px 3px 2px rgba(0, 0, 0, 0.6);
}

.user-container p {
  --white: #fff;
  margin-top: -12px;
  color: var(--white);
  text-shadow: -3px 3px 2px rgba(0, 0, 0, 0.6);
}

.navigation {
  --sidebarbg: linear-gradient(
    to bottom,
    #573480 0%,
    #442963 68%,
    #2d1b41 100%
  );
  position: absolute;
  width: 300px;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--sidebarbg);
  border-left: 10px solid var(--sidebarbg);
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 10px;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  --white: #fff;
  background-color: var(--white);
}

.navigation ul li a {
  --white: #fff;
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  --sidebarbg: linear-gradient(
    to bottom,
    #573480 0%,
    #442963 68%,
    #2d1b41 100%
  );
  color: var(--sidebarbg);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon ion-icon,
.navigation ul li a .fa {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  --white: #fff;
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  --white: #fff;
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* --------- responsive ---------- */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
}

@media (max-width: 480px) {
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
}
