:host {
  --rad: 0.7rem;
  --height: 2rem;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --dur: 0.3s;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
  --btn-width: 3rem;
  --color-brand: #febe3a;
  --color-alert: #d9534f;
  --bg-hover: #555;
  --bg-color: #2a2d35;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  color: var(--bg-color);
  padding: 0 0 10px 0;
}

.product-tbl {
  padding: 10px 0 10px 0;
}
