<div class="container">
  <div class="container-fluid py-2">
    <div class="row offset-md-2">
      <div class="title-container"><h2>Dashboard</h2></div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 pt-3">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-dark shadow-dark border-radius-xl mt-n4 position-absolute"
            >
              <i class="bi bi-alarm-fill fs-5"></i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Time</p>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-footer p-3">
            <p class="mb-0">
              <span class="time text-sm fw-bold">8:30 AM</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 pt-3">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-dark shadow-dark border-radius-xl mt-n4 position-absolute"
            >
              <i class="bi bi-person-fill fs-4"></i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Team Strength</p>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-footer p-3">
            <p class="mb-0">
              <span class="text-success text-sm fw-bold">8 Developers</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 pt-3">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-dark shadow-dark border-radius-xl mt-n4 position-absolute"
            >
              <i class="bi bi-person-fill-check fs-4"></i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Code Warriors Present</p>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-footer p-3">
            <p class="mb-0">
              <span class="text-success text-sm fw-bold">Yukari Takeba</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 pt-3">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-dark shadow-dark border-radius-xl mt-n4 position-absolute"
            >
              <i class="bi bi-person-fill-x fs-4"></i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Code Warriors Away</p>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-footer p-3">
            <p class="mb-0">
              <span class="text-danger text-sm fw-bold">Yukari Takeba</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
