body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #2a2d35;
}

body::-webkit-scrollbar-thumb {
  background: #febe3a;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
